{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<base target="_top">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Real Estate</title>

    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script> -->
	{% block css %} 
    {% endblock %}

	{% block extra_css %} 
    {% endblock %}
    
	<style>
		html, body {
			height: 100%;
			margin: 0;
		}
	</style>
</head>
<body>
    {% block body %} 
    {% endblock %}

	{% block js %} 
    {% endblock %}

	{% block extra_js %} 
    {% endblock %}
</body>
</html>
