<div class="modal fade" id="addPolygonModal" tabindex="-1" aria-labelledby="addPolygonLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addPolygonLabel">Add my property</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="owner-name" class="col-form-label">Owner Name:</label>
              <input type="text" class="form-control" id="txt_name">
            </div>
            <div class="mb-3">
              <label for="address-text" class="col-form-label">Address:</label>
              <textarea class="form-control" id="txt_address"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="btn_save_property">Save property</button>
        </div>
      </div>
    </div>
</div>