{% extends 'map/base.html' %}
{% block body %}
{% include 'map/add_polygon_modal.html' %}
<div id="map" style="width:100%; height: 100%"></div>
{% endblock %}

{% block extra_js %}
<!-- https://leaflet.github.io/Leaflet.draw/docs/leaflet-draw-latest.html#l-edit-poly -->
<script>
    const osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        osm = L.tileLayer(osmUrl, { maxNativeZoom: 18, maxZoom: 20, attribution: osmAttrib }),
        map = new L.Map('map', { center: new L.LatLng(10.59, 76.45), zoom: 13 }),
        drawnItems = L.featureGroup().addTo(map);
    L.control.layers({
        'osm': osm.addTo(map),
        "google": L.tileLayer('http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}', {
            maxNativeZoom: 18, // https://gis.stackexchange.com/a/78851
            maxZoom: 20,
            attribution: 'google'
        }),
        "arcgis": L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', { //https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxNativeZoom: 18, // https://gis.stackexchange.com/a/78851
            maxZoom: 20,
            attribution: 'arcgis'
        }),
    }, { 'drawlayer': drawnItems }, { position: 'topleft', collapsed: false }).addTo(map);
    map.addControl(new L.Control.Draw({
        draw: {
            polygon: {
                allowIntersection: false,
                showArea: true
            },
            marker: false, // remove marker
            circlemarker: false, // remove
            circle: false, // remove
            rectangle: false, // remove
            polyline: false, // remove
        }
    }));

    map.on(L.Draw.Event.CREATED, function (event) {
        let layer = event.layer;
        drawnItems.addLayer(layer);
        // get co ordinates of drawn polygon
        // console.log(layer.getLatLngs())
        $("#txt_latlngs").val(layer.getLatLngs())
        $("#addPolygonModal").modal("show");
    });



    // create a red polygon from an array of LatLng points
    let latlngs = {{ f_latlogs| safe }};
    let polygon;
    for (let i = 0; i < latlngs.length; i++) {
        polygon = L.polygon(latlngs[i]["latlngs"], { color: 'red', id: latlngs[i]['id'] }).addTo(map);
        polygon.on('click', function () {
            window.open(`property/${this.options.id}/`, '_blank').focus();
        });
    }

    function latlngs_to_array(latlngs) {
        // https://stackoverflow.com/a/51379191/2351696
        // INPUT: "LatLng(17.50438, 1.04772),LatLng(17.48686, 1.05775)"            
        // OUTPUT: [['17.50438','1.04772'], ['17.48686','1.05775']]
        let splittedArray = latlngs.split("LatLng"),
            outputArray = [];

        splittedArray.forEach(o => {
            if (o) {
                let extractedLTLNG = o.match(/\(([^)]+)\)/)[1].split(",");
                let tempArray = [extractedLTLNG[0], extractedLTLNG[1]];
                outputArray.push(tempArray);
            } else {
                return;
            }
        })
        return outputArray;
    }

    $("#btn_save_property").click(function () {
        let data = {
            name: $("#txt_name").val(),
            address: $("#txt_address").val(),
            latlngs: JSON.stringify(latlngs_to_array($("#txt_latlngs").val())),
            csrfmiddlewaretoken: '{{csrf_token}}',
        }
        $.post("{% url 'map:save_property' %}", data)
            .done(function (resp) {
                location.reload();
            })
            .fail(function (xhr, textStatus, errorThrown) {
                $("#addPolygonModal").modal("hide");
            });
    });
</script>
{% endblock %}