{% extends 'base.html' %} 
{% block body %} 
<div id="map" style="width:100%; height: 100%"></div>
<script>
	const map = L.map('map').setView([10.59, 76.45], 13);
	const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxNativeZoom:19, // https://stackoverflow.com/a/45100162/2351696
        maxZoom:25,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);

    // create a red polygon from an array of LatLng points
    let latlngs = {{ f_latlogs|safe }};
    let polygon;
    for (let i = 0; i < latlngs.length; i++) {
        polygon = L.polygon(latlngs[i], { color: 'red', id : i}).addTo(map);
        polygon.on('click', function () {
            alert(this.options.id);
        });
    }
</script> 
{% endblock %}